.jobsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 20px 0;
}

.pageButton {
  border: 1px solid #7e858e;
  background-color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.pageButton:hover {
  background-color: #f1f1f1;
}

.activePage {
  background-color: #4f46e5;
  color: #fff;
  border-color: #4f46e5;
}
