body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.loginFormBg {
  background-color: #000000;
  height: 100vh;
  /* overflow-y: hidden; */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #272727;
  width: 385px;
  max-width: 450px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoImg {
  height: 50px;
  width: 155px;
  margin-bottom: 45px;
  margin-top: 12px;
}
.labelText {
  color: white;
  font-size: 12px;
  font-family: 'Roboto';
}
.loginInput {
  margin-top: 8px;
  height: 35px;
  width: 290px;
  border-radius: 4px;
  border: 1px solid grey;
  background-color: transparent;
  color: white;
  margin-bottom: 15px;
  font-size: 15px;
  padding-left: 7px;
}
.loginInput:focus {
  outline: none;
  border: 1px solid grey;
}
.loginBtn {
  width: 100%;
  height: 30px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  cursor: pointer;
  margin-top: 15px;
}
.loginBtn:hover {
  background-color: #423bbc;
}
.errorMsg {
  color: red;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 15px;
}
.or-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  width: 100%; /* match .loginBtn width inside form */
  max-width: 290px; /* same as .loginInput width */
}

.or-separator .line {
  flex: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5); /* light white line */
  border: none;
}

.or-separator span {
  margin: 0 10px;
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
}

#googleBtn {
  margin-bottom: 13px;
}

@media screen and (max-width: 600px) {
  .card {
    background-color: #272727;
    width: 325px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
